<div class="search-form">
  <%= form_with method: "get", local: true do |f| %>
    <%= f.text_field :search_param,
      value: params[:search_param],
      placeholder: "Nutricionista Desportivo...",
      :class => "search-box" %>
    <%= f.text_field :location,
      value: params[:location],
      placeholder: "Localização",
      :class => "search-box"  %>
    <%= f.submit "Pesquisar", :class => "search-button" %>
  <% end %>
</div>
<div class="nutritionists">
  <% @nutritionists.each do |n| %>
    <div class="nutritionist">
      <div class="upper-half">
        <div class="nutritionist-img">
          <% if n.avatar.attached? %>
            <%= image_tag n.avatar, :class => "nutritionist-avatar" %>
          <% else %>
            <%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fhumancoders-formations.s3.amazonaws.com%2Fuploads%2Fcourse%2Flogo%2F1%2Fformation-ruby-on-rails.png", :class => "nutritionist-avatar" %>
          <% end %>
        </div>
        <div class="nutritionist-info">
          <div>
            <p class="green-accent"><%= n.name %></p>
            <p class="orange-accent">Nutricionista - <%= n.number %></p>
          </div>
          <div class="nutr-buttons">
            <a href=""><button class="marcar-consulta">Marcar consulta</button></a><br>
            <a href="<%= n.personal_page %>"><button class="pagina-pessoal">Página Pessoal</button></a>
          </div>
        </div>
      </div>
      <div class="lower-half">
        <div> <!-- left side -->
          <p class="green-accent"><%= n.clinic %></p>
          <p><%= n.street %></p>
          <p><%= n.city %></p>
        </div>
        <div>
          <p>DROPDOWN</p>
          <p><%= n.price %>€</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
