<h1>Nutrium</h1>
<%= form_with method: "get", local: true do |f| %>
  <%= f.label "Search for:" %>
  <%= f.text_field :search_param %>
  <%= f.label "Location:" %>
  <%= f.text_field :location %>
  <%= f.submit "Search" %>
<% end %>
<% @nutritionists.each do |n| %>
  <div>
    <div> <!-- parte de cima !-->
      <div><img src="https://cdn.discordapp.com/avatars/261616500283015169/b31841ff18e852c31b45c7b6f7558ad0.webp"/></div> <!-- display: flex !-->
      <div>
        <p><%= n.name %></p>
        <p>Nutricionista - <%= n.number %></p>
      </div>
      <div>
        <button>Marcar consulta</button>
        <button>Pagina Pessoal</button>
      </div>
    </div>
    <div>
      <div> <!-- left side !-->
        <p><%= n.clinic %></p>
        <p><%= n.street %></p>
        <p><%= n.city %></p>
      </div>
      <div>
        <p>DROPDOWN</p>
        <p><%= n.price %></p>
      </div>
    </div>
  </div>
<% end %>
