<!DOCTYPE html>
<html>
  <head>
    <title>EsmeraldasEmAutoestradas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/" class="logo"><%= image_tag 'logo.svg', :style => "height: 45px" %></a>
      <a class="signup" href="/">
        <button class="signup">
          Are you a healthcare professional? <strong>Sign up here</strong>
          <%= image_tag 'right_arrow_long.svg', :height => "25px", :class => "signup-arrow" %>
        </button>
      </a>
    </header>
    <%= yield %>
  </body>
</html>
