<!DOCTYPE html>
<html>
  <head>
    <title>EsmeraldasEmAutoestradas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav-bar">
      <li class="nav-bar">
        <a href="/">
          <%= image_tag 'logo.svg' %>
        </a>
      </li>
      <li style="float: right" class="nav-bar">Are you a healthcare professional? <strong>Sign up here</strong> -»</li>
    </ul>
    <%= yield %>
  </body>
</html>
